

header {
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    color: #333;
    text-align: center;
}

h3 {
    margin: 0;
}


a, a:link, a:visited, a:hover, a:active {
    color: rgb(101, 170, 222);
    text-decoration: none;
}

.navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #ddd;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}


@media (max-width: 600px) {
    .body-text {
        width: 90%;
        padding: 10px;
    }
}


.post-item {
    margin-bottom: 20px;
}

.post-item a {
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
    margin-left: -30px;
}

.post-item p {
    color: #666;
    font-size: 0.9em;
    margin-left: 30px;
    word-wrap: break-word;
    hyphens: auto;
}

p code {
    background: #5c5c5c;
    color: rgb(255, 255, 255);
    font-family: Consolas;
    text-align: left;
    padding: 3px;
    border-radius: 5px;
    overflow: auto;
    white-space: pre-wrap;
    font-size: calc(1em - 4px);
    box-decoration-break: clone; 
}



img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}



















:root {
    --global_background: #f8f8f8;
    --main-text-color: #292929;
}
  


body {
    font-family: Arial, sans-serif;
    background-color: var(--global_background);
    color: var(--main-text-color);
    margin: 0;
    padding: 20px;
}

.body-text {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
}






#container-diary > .container-content {
    background: var(--global_background);
    padding: 10px;
    margin: 40px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#container-diary > .container-content .data {
    font-weight: bold;
}

#container-diary > .container-content .p {
    margin: 0;
}

#container-skill > .container-content {
    background: var(--global_background);
    padding: 10px;
    margin: 40px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#container-skill > .container-content .filename {
    font-weight: bold;
}

#container-skill > .container-content .p {
    margin: 0;
}






.popup-content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
